{% extends 'base.html.twig' %}

{% block title %}Index Utilisateurs{% endblock %}

{% block body %}

    {% include 'admin/_admin_button.html.twig' %}

    <div class="container">
        <h1>Index Utilisateurs</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nom d'utilisateur</th>
                <th>Admin</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>

            {% for user in users %}

                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1"
                            {% if user.roles[0] == "ROLE_ADMIN" %} checked {% endif %} data-id="{{ user.id }}">
                            <label class="custom-control-label" for="customSwitch1"></label>
                        </div>
                    </td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-info">Voir</a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-info">Editer</a>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Pas d'utilisateurs</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {#<a href="{{ path('user_new') }}" class="btn btn-info">Créer un nouvel utilisateur</a>#}
    </div>
{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('AdminUser') }}
{% endblock %}
