<section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">
        {% set count = 0 %}
        {% for video in trick.videos %}
            <li id="carousel__slide{{ count }}"
                tabindex="{{ count }}"
                class="carousel__slide">
                <div class="carousel__snapper">
                    <a href="#carousel__slide{{ count-1 }}"
                       class="carousel__prev">Go to last slide</a>
                    <iframe width="320" height="280" src="{{ video.videoUrl }}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <a href="#carousel__slide{{ count+1 }}"
                       class="carousel__next">Go to next slide</a>
                </div>
            </li>

            {% set count = count + 1 %}
        {% endfor %}
    </ol>
</section>