<li class="media moreBox" style="display: none;">
    <img class="media-object rounded-circle"
         src="{{ UploadPicture ~ comment.user.photo }}" alt="profile">

    <div class="media-body">
        <div class="well well-lg">
            <h4 class="media-heading reviews">{{ comment.user.username }} </h4>
            <ul class="media-date text-uppercase reviews list-inline">
                <li class="dd">{{ comment.createdAt | date('d') }}</li>
                <li class="mm">{{ comment.createdAt | date('m') }}</li>
                <li class="aaaa">{{ comment.createdAt | date('Y') }}</li>
            </ul>
            <p class="media-comment">
                <small>{{ comment.content | raw }}</small>
            </p>
        </div>
    </div>
</li>





