{#<div class="row text-center">
    {% if app.user %}
        <div class="col-sm-10 col-md-8 mx-auto">
            {{ form_start(formComment) }}
            {{ form_widget(formComment) }}
            <button type="submit" class="btn btn-success col-sm-s8 mx-auto">Laisser un commentaire</button>
            {{ form_end(formComment) }}
        </div>
    {% else %}
        <div class="col-sm-10 col-md-8 mx-auto">
            <h3>Veuillez vous connecter pour laisser un commentaire</h3>
        </div>

</div>#}

<!-- comments container -->

    {{ form_start(formComment) }}
    <!-- used by #{user} to create a new comment -->
    <div class="create_new_comment">

        <!-- current #{user} avatar -->
        <div class="user_avatar">
            <img src="{{ UploadPicture ~ app.user.photo }}" alt="">
        </div>{{ form_widget(formComment) }}
        <div class="input_comment">
            <input type="text" placeholder="Join the conversation..">
        </div>

    </div>

    {{ form_end(formComment) }}