<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('trick') }}"><img src="{{ asset('build/images/home/logo.png') }}" alt="" style="height: 35px"> SnowTricks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('trick_create') }}">Créer un article</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                {% if not app.user %}
                    <li class="nav-item">
                        <a href="{{ path('security_registration') }}" class="nav-link">S'enregistrer</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('security_login') }}" class="nav-link"><i class="fa fa-sign-in-alt" aria-hidden="true"></i>
                             Connexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('security_logout') }}" class="nav-link"><i class="fa fa-sign-out-alt"></i> Deconnexion</a>
                    </li>
                {% endif %}

            </ul>

        </form>
    </div>
</nav>

