{% extends 'base.html.twig' %}

{% block title %}Création d'un Trick{% endblock %}

{% block body %}
    <div class="container">

        <h1>Ajouter l'article</h1>

        {{ form_start(formTrick) }}

        {{ form_row(formTrick.name) }}
        {{ form_errors(formTrick.name) }}
        {{ form_row(formTrick.category) }}
        {{ form_errors(formTrick.category) }}
        {{ form_row(formTrick.description) }}
        {{ form_errors(formTrick.description) }}
        {{ form_row(formTrick.file) }}



        <ul id="image-fields-list"
            data-prototype="{{ form_widget(formTrick.images.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ formTrick.images|length }}">
            {% for image in formTrick.images %}
                <li>
                    {{ form_errors(image) }}
                    {{ form_label(image) }}
                </li>
            {% endfor %}
        </ul>

        <button type="button"
                class="add-another-collection-widget"
                data-list-selector="#image-fields-list">Ajouter une image
        </button>
        <br>
        <ul id="video-fields-list"
            data-prototype="{{ form_widget(formTrick.videos.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ formTrick.videos|length }}">
            {% for video in formTrick.videos %}
                <li>
                    {{ form_errors(video) }}
                    {{ form_widget(video) }}
                </li>
            {% endfor %}
        </ul>

        <button type="button"
                class="add-another-collection-widget"
                data-list-selector="#video-fields-list">Ajouter une video
        </button>
        <br>

        <div class="row justify-content-center mt-5">
            <button class="btnPrev btn btn-primary"><a class="btnPrev" href="{{ path('trick') }}">Retour</a></button>
            <button type="submit" class="btn btn-danger">Ajouter l'article</button>
        </div>

        {# hide unwanted form_widget #}
        <div id="divCheckbox" style="display: none;">
            {{ form_rest(formTrick) }}
        </div>

        {{ form_end(formTrick) }}


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('create') }}
{% endblock %}


