{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(formTrick) }}

        {{ form_row(formTrick.name) }}
        {{ form_row(formTrick.description) }}
        {#{{ formTrick.vars.value.mainimage }}#}

        {{ form_row(formTrick.category) }}
        <div><img src="{{ UploadDirectory ~ trick.mainImage }}" alt="" width="150"</div>
        {{ form_widget(formTrick.file) }}
        {{ form_errors(formTrick.file) }}

        <section id="images">
            <div class="d-flex align-content-start flex-wrap">
                {% for image in trick.images %}

                    <div class="p-2">
                        <img src="{{ UploadDirectory ~ image.imageFilename }}" alt="" width="150">
                        {% if app.user %}
                            <div class="float-right">
                                <a href="{{ path('image_delete', {id: image.id}) }}" data-delete><i
                                            class="fas fa-trash-alt"></i></a>
                            </div>
                        {% endif %}
                    </div>

                {% endfor %}
            </div>
            <ul id="image-fields-list"
                data-prototype="{{ form_widget(formTrick.images.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ formTrick.images|length }}">

            </ul>

            <button type="button"
                    class="add-another-collection-widget"
                    data-list-selector="#image-fields-list">Ajouter une image
            </button>
        </section>

        <section id="videos">
            <div class="container">
                <div class="d-flex align-content-start flex-wrap">
                    {% for video in trick.videos %}
                        <div class="trickVideo m-3">
                            <iframe width="240" height="180" src="{{ video.videoUrl }}" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                </div>
                <ul id="video-fields-list"
                    data-prototype="{{ form_widget(formTrick.videos.vars.prototype)|e }}"
                    data-widget-tags="{{ '<li></li>'|e }}"
                    data-widget-counter="{{ formTrick.videos|length }}">

                </ul>

                <button type="button"
                        class="add-another-collection-widget"
                        data-list-selector="#video-fields-list">Ajouter une video
                </button>
        </section>

        <button type="submit" class="btn btn-primary">Editer l'article</button>
        {{ form_end(formTrick) }}
        {#{'render_rest': false}) }}#}

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('create') }}
    {{ encore_entry_script_tags('edit') }}

{% endblock %}


