{% extends 'base.html.twig' %}

{% block body %}


    {#<article>
        <h1>Editer l'article</h1>
        <h2>{{ trick.name }}</h2>
        <div class="metadata">Ecrit le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }} dans
            la catégorie
            {{ trick.category.title }}</div>
        {% for image in trick.images %}

        <div class="content"><img src="/uploads/images/{{ image.imageFilename }}" alt="">
            {% endfor %}
            {{ trick.description | raw }}
    </article>#}

    {{ form_start(formTrick) }}

    {{ form_widget(formTrick) }}



    <button type="submit" class="btn btn-primary">Editer l'article</button>
    {{ form_end(formTrick) }}





{% endblock %}


