{% extends 'base.html.twig' %}

{% block title %}Edition de {{ trick.name }}{% endblock %}

{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        {{ form_start(formTrick) }}

        {{ form_row(formTrick.name) }}
        {{ form_errors(formTrick.name) }}
        {{ form_row(formTrick.description) }}
        {{ form_errors(formTrick.description) }}
        {{ form_row(formTrick.category, {'label': 'Categorie'}) }}
        {{ form_errors(formTrick.category) }}
        <a href="{{ path('category_new') }}" class="btn btn-primary m-2">Créer une categorie</a>
        <div class="m-3">
            <img src="{{ UploadMainPicture ~ trick.mainImage }}" alt="" width="150">
        </div>
        {{ form_widget(formTrick.file) }}
        {{ form_errors(formTrick.file) }}

        <section id="images">
            <div class="container">
                <div class="d-flex align-content-start flex-wrap align-items-center">
                    {% for image in trick.images %}
                        <div class="image m-3">
                            {% if image.id %}
                            <a href="{{ path('image_delete', {'id': image.id}) }}" class="data-delete"><i
                                        class="fas fa-trash-alt del_icon"></i>
                                <img class="img-download" src="{{ UploadDirectory ~ image.imageFilename }}" alt=""
                                     width="150">
                            </a>
                            {% endif %}
                        </div>

                    {% endfor %}
                </div>

                <ul id="image-fields-list"
                    data-prototype="{{ form_widget(formTrick.images.vars.prototype)|e }}"
                    data-widget-tags="{{ '<li></li>'|e }}"
                    data-widget-counter="{{ formTrick.images|length }}">

                </ul>
                {{ form_errors(formTrick.images) }}
                <button type="button"
                        class="add-another-collection-widget"
                        data-list-selector="#image-fields-list">Ajouter une image
                </button>
            </div>
        </section>

        <section id="videos">
            <div class="container">
                <div class="d-flex align-content-start flex-wrap">
                    {% for video in trick.videos %}
                        <div class="image m-3">
                            {% if video.id is not null %}
                            <a href="{{ path('video_delete', {'id': video.id}) }}" class="data-delete"><i
                                        class="fas fa-trash-alt"></i>
                                <iframe width="240" height="180" src="{{ video.videoUrl }}" frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <ul id="video-fields-list"
                    data-prototype="{{ form_widget(formTrick.videos.vars.prototype)|e }}"
                    data-widget-tags="{{ '<li></li>'|e }}"
                    data-widget-counter="{{ formTrick.videos|length }}">

                </ul>

                <button type="button"
                        class="add-another-collection-widget"
                        data-list-selector="#video-fields-list">Ajouter une video
                </button>
        </section>
        <div class="row justify-content-center mt-5">
            <button class="btn btn-primary"><a class="btnPrev" href="{{ path('trick_show', {'slug': trick.slug}) }}" style="color: white!important;">Retour</a></button>
            <button type="submit" class="btn btn-danger">Sauvegarder</button>
        </div>

        {# hide unwanted form_widget #}
        <div id="divCheckbox" style="display: none;">
            {{ form_rest(formTrick) }}
        </div>

        {{ form_end(formTrick) }}

    </div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('create') }}
    {{ encore_entry_script_tags('edit') }}

{% endblock %}


