{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}


{% block body %}


    <h1>bienvenue dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto commodi cupiditate esse est facere fugiat
        illo
        incidunt inventore libero modi molestias mollitia neque nisi numquam placeat quas qui quibusdam quod ratione
        reiciendis repellat reprehenderit, saepe totam unde voluptate voluptatibus!</p><p>Animi atque, beatae deleniti
    id
    inventore magni minus molestiae nemo nihil provident quae qui quibusdam ratione reiciendis sed! Culpa deserunt eos
    et nihil placeat quaerat, reiciendis? Architecto consequuntur eaque eius fugit natus non officia praesentium
    tempore. A ad modi temporibus!</p>

    <section class="article">

        {% for trick in tricks %}
            <article>
                <h2>{{ trick.name }}</h2>
                <div class="metadata">Ecrit le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }} dans la categorie
                    politique
                </div>
                <div class="content"><img src="{{ trick.image }}" alt="">
                    {{ trick.description | raw }}
                    <a href="{{ path('trick_show', {'id': trick.id}) }}" class="btn btn-primary">Lire la suite</a></div>
            </article>
        {% endfor %}

    </section>

{% endblock %}
