{% extends'base.html.twig' %}



{% block body %}

    <article class="mt-5">
        <h2>{{ trick.name }}</h2>
        <h5>{{ trick.description | raw }}</h5>
        <div class="metadata">Ecrit le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }} dans
            la catégorie
            {{ trick.category.title }}</div>

        <img src="{{ trick.mainImage.imageFilename }}" alt="" class="mb-5">

        <br>

        <!-- display trick images -->
        <section id="images">
            <div class="container">
                <div class="d-flex align-content-start flex-wrap">
                    {% for image in trick.images %}

                        <div class="p-2">
                            <img src="{{ image.imageFilename }}" alt="" width="150">
                        </div>

                    {% endfor %}

                </div>
            </div>
        </section>


        <!-- display trick videos -->
        <section id="videos">
            <div class="container">
                <div class="d-flex align-content-start flex-wrap">
                    {% for video in trick.videos %}
                        <div class="trickVideo m-3">
                            <iframe width="320" height="280" src="{{ video.videoUrl }}" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                </div>
        </section>

    </article>

    <!-- display trick comments -->
    <section id="commentaires">
        <h1>{{ trick.comments | length }} Commentaires</h1>
        {% for comment in trick.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            {{ comment.user.username }} (<small>{{ comment.createdAt | date('d/m/Y') }}</small>)
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <img src="{{ comment.user.photo }}" alt="" class="img-thumbnail">
                            </div class="col-5">
                            <div class="col align-items-center">
                                {{ comment.content | raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    {% if app.user %}
        {{ form_start(formComment) }}


        {{ form_end(formComment) }}
    {% endif %}

{% endblock %}