{% extends'base.html.twig' %}

{% block body %}

    <article>
        <h2>{{ trick.name}}</h2>
        <div class="metadata">Ecrit le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i')}} dans la categorie politique</div>
        <div class="content"><img src="{{ trick.image }}" alt="">
            {{ trick.description | raw }}
    </article>

{% endblock %}