{% extends'base.html.twig' %}



{% block body %}

    <article class="mt-5">
        <h2>{{ trick.name }}</h2>
        <h5>{{ trick.description | raw }}</h5>
        <div class="metadata">Ecrit le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }} dans
            la catégorie
            {{ trick.category.title }}</div>
        <img src="{{ imagesdirectory }}/{{ trick.mainImage.imageFilename }}">

        {% for image in trick.images %}

            <img src="{{ imagesdirectory }}/{{ image.imageFilename }}">

        {% endfor %}

        {#<a class="carousel-control-prev" href="" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>#}
        {% for video in trick.videos %}
            <div class="trickVideo">
                <iframe width="540" height="480" src="{{ video.videoUrl }}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        {% endfor %}

    </article>


    <section id="commentaires">
        <h1>{{ trick.comments | length }} Commentaires</h1>
        {% for comment in trick.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            {{ comment.user.username }} (<small>{{ comment.createdAt | date('d/m/Y') }}</small>)
                        </div>
                        <div class="row">
                            <img src="{{ comment.user.photo }}" alt="" class="img-thumbnail">
                        </div>
                    </div>
                    <div class="col align-items-center">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock %}